.footer {
    background: red;
    height: 100px;
    position: relative;
    color: white;
    overflow: auto;
  }
  
  .footer > .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background:maroon;
    padding: 8px;
    font-weight: 600;
  }